@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@700&display=swap');

:root{
    --Dark-SlateGrey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Charcoal-Grey);
    color: var(--Dark-SlateGrey);
    
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: var(--White);
    padding: 30px 30px;
    border-radius: 2rem;
    gap: 10px;

}

.col-1{
    padding: 30px 30px;
    align-items: flex-start;
}


.col-1 h1 {
    font-size: 3em;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;

}

.col-1 ul {
    padding-top: 2rem;
    list-style-type: none;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    list-style-image: url(assets/images/icon-list.svg);
} 

.col-1 ul li{
    padding: 0.5rem;
    margin-bottom: 10px;
    
}

.form{
    margin-top: 5rem;
}

.form p{
    font-size: 13px;
    
}

.form input{
    height:3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 7px;
    border: 1px solid var(--Grey);
    text-align:justify;
    padding-left: 1rem;
    cursor: pointer;
    width: 100%;
    color: var(--Dark-SlateGrey);
}

.error{
    background-color: var(--Tomato);
    opacity: 0.5;
}
.label{
    font-size: small;
    display: flex;
    justify-content: space-between
}

.label .last{
    color: var(--Tomato);
}



.button{
    background-color: var(--Dark-SlateGrey);
    color: var(--White);
    height: 3rem;   
    font-size: 1em;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    width: 100%;
}

.button:hover{
    background-color: var(--Tomato) ;
    border: none;
    box-shadow:  var(--Tomato) 0px 20px 30px -10px;
    transition: all 1s;
    
}

.hide{
    display: none;
}

/*--------------------Container --------------------*/

.container-success{
    
    background-color: var(--White);
    border-radius: 2rem;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    width: 400px;
}
.container-success img{
    width: 64px;
    margin-bottom: 1rem;
}

.container-success h1{
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
}

.container-success p{
    font-weight: 400;
    margin-bottom: 1rem;
}

.container-success p span{
    font-family: 'Roboto', sans-serif;

}

@media (max-width: 1440px) {
    .container {
      width: 900px;
    }
}


@media (max-width:768px ) {
    .container {
        flex-direction: column-reverse;
        width: 95%;
        padding: 0;
    }
    body{
        padding: 0;
        margin: 0;

    }
    .col-1 {
        width: 100%;
        padding: 20px;
    }
    .container h1{
        font-size:2em;
    }
    .col-2{
        width: 100%;
    }

    .col-2 img{
        content: url("assets/images/illustration-sign-up-mobile.svg");
        width: 100%;
    }
    .form{
        width: 90%;
    }

    .container-success{
        border-radius: 0;
        height: 100vh;
    }
    .container-success img{
        padding-top: 7rem;
    }


    .container-success form {
        padding-top: 14rem; ;
    }
    
    
}